---
layout: page
title: Home
---

<div class="index-main">
  {% for post in site.posts %}
  <h3 class="title-h3"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
  <div class="time-area">
    <small><time>{{ post.date | date:'%A, %B %d, %Y'}}</time></small>
  </div>
  <div class="tag-area">
    <small>
      {% for tag in post.tags %}
      <span class="tag-label">{{tag}}</span>
      {% endfor %}
    </small>
  </div>
  {% if post.thumbnail %}
  <div class="thumbnail-area">
    <img src="{{post.thumbnail}}" alt="{{post.title}}" class="thumbnail-img" />
  </div>
  {% endif %}
  <article class="excerpt">{{post.excerpt}}</article>
  <a class="readmore" href="{{post.url | prepend: site.baseurl }}">Read More</a>
  {% endfor %}
</div>
