---
---

@import "{{ site.theme }}";

.index-main {
  .title-h3 {
    border-top: solid 1px #828282;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .time-area {
    font-size: 14px;
    color: #828282;
  }
  .tag-area {
    margin-bottom: 20px;
    .tag-label {
      border: solid 1px #828282;
      padding: 3px;
    }
  }
  .readmore {
    font-size: 14px;
  }
}
